:root {
    --btn-height: 50px;
    --project-img-width: 350px;
    --project-img-height: 366px;
    --project-img-font-size: 38pt;
}

.projects-section {
    margin-top: max(15vh, 150px);
    height: fit-content;
}

.details-container {
    flex-wrap: wrap;
}

.projects-container {
    max-width: 30vw;
    min-width: fit-content;
    margin: 2rem 3vw;
}

.project-img {
    width: var(--project-img-width);
    height: var(--project-img-height);
}

.btn {
    height: var(--btn-height);
}

.btn:hover {
    background-color: darkviolet;
}

.img-text-center {
    font-size: var(--project-img-font-size);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

@media (max-width: 991.98px) {
    .project-img {
        width: calc(var(--project-img-width) / 2);
        height: calc(var(--project-img-height) / 2);
    }

    .img-text-center {
        font-size: calc(var(--project-img-font-size) / 2);
    }
}