<div id="experience" class="id-div"></div>
<p class="h7 text-center">Explore My</p>
<h1 class="display-1 text-center">Related Work</h1>
<div class="experience-details-container d-flex justify-content-center mt-3">
    <div class="experience-container mx-auto d-block">
        <div id="coding-mind" class="id-div"></div>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    Coding Mind Academy <br>
                    <span class="text-muted">Computer Science Instructor <h4>July 2024 - Current</h4></span>
                </h2>
                <p class="lead">
                    At Coding Mind Academy, I work as an instructor to teach various programming languages
                    like C++ and Python to students in middle and high school. I teach 3+ classes a week
                    where I prepare class material and deliver it so the students can understand easily.
                    I also create homework for the students to do after each class and report their
                    performance as feedback to their parents. In the last 4 weeks of each course, I 
                    guide the students through making a final project and presentation to showcase to
                    their parents what they learned in the course.
                </p>
            </div>
            <div class="col-md-5 align-content-center">
                <img class="cm-logo mx-auto d-block img-fluid" src="../assets/Coding-Mind-Logo.webp" alt="Coding Mind Logo" onclick="location.href='https://codingmind.com'" data-bs-toggle="tooltip" title="Check out CM!">
                <button type="button" class="left-skills btn btn-outline-secondary rounded-pill mx-auto d-block mt-2" data-bs-toggle="modal" data-bs-target="#codingMindModal">
                    Skills Used
                </button>
            </div>
        </div>
        <div id="rush-market" class="id-div"></div>
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    The Rush Market <br>
                    <span class="text-muted">Computer Science Intern (Paid)<h4>May 2022 - August 2022</h4></span>
                </h2>
                <p class="lead">
                    At The Rush Market, I worked as an intern to help develop and test various new features 
                    to assist other employees' jobs. I implemented a backend system to send text message alerts 
                    through Twilio to notify employees when a customer has driven to the front of the store 
                    for an online pickup order. I also developed a prototype system to use Azure text-to-speech 
                    to autofill forms to allow for greater efficiency when employees inspect new product. 
                    Lastly, I researched and assisted in the development of using computer vision to 
                    automate cycle counting and auditing.
                </p>
            </div>
            <div class="col-md-5 order-md-1 align-content-center">
                <img class="rush-logo mx-auto d-block img-fluid bg-dark p-3 border rounded-3" src="../assets/rush_market_logo.png" alt="Rush Market Logo" onclick="location.href='https://www.rushmarket.com'" data-bs-toggle="tooltip" title="Check out Rush!">
                <button type="button" class="left-skills btn btn-outline-secondary rounded-pill mx-auto d-block mt-2" data-bs-toggle="modal" data-bs-target="#rushMarketModal">
                    Skills Used
                </button>
            </div>
        </div>
        <div id="un-omaha" class="id-div"></div>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    University of Nebraska at Omaha <br>
                    <span class="text-muted">Application Devloper Intern (Paid)<h4>May 2019 - Aug 2019</h4></span>
                </h2>
                <p class="lead">
                    At the University of Nebraska at Omaha (UNO), I worked in with one other intern and a 
                    graduate student to create a mobile app for iOS and Android called MIS Flood. We used 
                    the Unity Game Engine to make the app, which was designed to teach the importance of 
                    resource management and evacuation during natural crises like floods. To create the app, 
                    my team progressed through each phase of application development: designing, research, 
                    development, testing, beta testing, and finally production.
                </p>
            </div>
            <div class="col-md-5 align-content-center">
                <img class="uno-logo mx-auto d-block img-fluid p-3" src="../assets/university-of-nebraska-omaha.svg" alt="UNO Logo" onclick="location.href='https://www.unomaha.edu/college-of-information-science-and-technology/engagement/high-school-internship-program.php'" data-bs-toggle="tooltip" title="See the Program!">
                <button type="button" class="left-skills btn btn-outline-secondary rounded-pill mx-auto d-block mt-2" data-bs-toggle="modal" data-bs-target="#unoModal">
                    Skills Used
                </button>
            </div>
        </div>
    </div>
</div>
  
<div class="modal align-content-center" id="codingMindModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title gradient">Coding Mind Skills</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="details-container">
                    <div class="articles-container mx-auto">
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Python</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>C++</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Zoom</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Leadership</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Communication</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Organization</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Presentation</h5>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal align-content-center" id="rushMarketModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title gradient">Rush Market Skills</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="details-container">
                    <div class="articles-container mx-auto">
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>HTML</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>CSS</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>JavaScript</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Express</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>MySQL</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Twilio</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>TensorFlow</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Microsoft Azure</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Data Structures</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Algorithms</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Software Testing</h5>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal align-content-center" id="unoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title gradient">UNO Internship Skills</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="details-container">
                    <div class="articles-container mx-auto">
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>C#</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Unity Game Engine</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Mobile App Development</h5>
                        </article>
                        <article>
                            <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                            <h5>Software Testing</h5>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

