<div id="skills" class="id-div"></div>
<p class="h7 text-center">Explore My</p>
<h1 class="display-1 text-center">Skills</h1>
<div class="experience-details-container d-flex justify-content-center mt-5">
    <div class="experience-container mx-auto d-flex">
        <div class="details-container mx-auto border">
            <h2 class="text-center gradient">Software<br>Engineering</h2>
            <div class="articles-container mx-auto">
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Python</h5>
                        <p>Experienced</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>C</h5>
                        <p>Experienced</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>C#</h5>
                        <p>Experienced</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>C++</h5>
                        <p>Experienced</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Java</h5>
                        <p>Experienced</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>JavaScript</h5>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>HTML</h5>
                        <p>Experienced</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>CSS</h5>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Git</h5>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Software Testing</h5>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Data Structures</h5>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Algorithms</h5>
                        <p>Intermediate</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="details-container mx-auto border">
            <h2 class="text-center gradient">Robotics<br>Engineering</h2>
            <div class="articles-container mx-auto">
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>CAD Modeling</h5>
                        <p>Experienced</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>3D Printing</h5>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Linux</h5>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Arduino</h5>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Raspberry Pi</h5>
                        <p>Intermediate</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="details-container mx-auto border">
            <h2 class="text-center gradient">Web<br>Development</h2>
            <div class="articles-container mx-auto">
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Mobile Development</h5>
                        <p>Basic</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>React</h5>
                        <p>Basic</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Express</h5>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Bootstrap</h5>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>MySQL</h5>
                        <p>Basic</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Postman</h5>
                        <p>Basic</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="details-container mx-auto border">
            <h2 class="text-center gradient">Game<br>Development</h2>
            <div class="articles-container mx-auto">
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Unity Engine</h5>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Mobile App Development</h5>
                        <p>Basic</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="details-container mx-auto border">
            <h2 class="text-center gradient">Other<br>Skills</h2>
            <div class="articles-container mx-auto">
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Microsoft Azure</h5>
                        <p>Basic</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Twilio</h5>
                        <p>Basic</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Zoom</h5>
                        <p>Experienced</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Leadership</h5>
                        <p>Experienced</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Communication</h5>
                        <p>Experienced</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Organization</h5>
                        <p>Experienced</p>
                    </div>
                </article>
                <article>
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/check.svg');"></div>
                    <div>
                        <h5>Presentation</h5>
                        <p>Experienced</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>