<div id="university" class="id-div"></div>
<p class="h7 text-center">Explore My</p>
<h1 class="display-1 text-center">University</h1>
<div class="experience-details-container d-flex justify-content-center mt-2">
    <div class="experience-container mx-auto d-block">
        <div id="purdue" class="id-div"></div>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    Purdue University <br>
                    <span class="text-muted">July 2020 - December 2024</span>
                </h2>
                <p class="lead">
                    I attended Purdue University for its competitive Computer Science and Robotics programs.
                    My experience at Purdue Univesity was enriching both academically and personally.
                    I took rigorous courses and met lifelong friends, which enabled me to get to where
                    I am today.
                </p>
                <button class="btn trasncript-btn btn-outline-secondary me-2 rounded-pill" onclick="window.open('../assets/Tobi_DeRuiter_Transcript.pdf')">
                    View My Transcript!
                </button>
            </div>
            <div class="col-md-5 mt-4 align-content-center">
                <img class="purdue-logo mx-auto d-block img-fluid" src="../assets/purdue_logo.png" alt="Purdue Logo">
            </div>
        </div>
        <div id="unsw" class="id-div"></div>
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    University of New South Wales <br>
                    <span class="text-muted">January 2023 - May 2023</span>
                </h2>
                <p class="lead">
                    I decided to study abroad at the University of New South Wales in Sydney, Australia
                    because I wanted to experience a new, unfamiliar culture to broaden my understanding
                    of people around the world. I had a wonderful time taking classes and traveling with
                    friends I met while studying abroad.
                </p>
            </div>
            <div class="col-md-5 mt-4 order-md-1 align-content-center">
                <img class="unsw-logo mx-auto d-block img-fluid" src="../assets/unsw_logo.png" alt="UNSW Logo">
            </div>
        </div>
        <div class="clubs-section mt-4 mb-4">
            <div id="clubs" class="carousel slide" data-bs-ride="carousel"  data-bs-interval="30000">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#clubs" data-bs-slide-to="0" class="rounded-pill active"></button>
                  <button type="button" data-bs-target="#clubs" data-bs-slide-to="1" class="rounded-pill "></button>
                </div>
              
                <div class="carousel-inner">
                    <div class="carousel-item mb-5 active">
                        <div class="row d-flex">
                            <div class="col-xl-6 order-xl-2">
                                <h2 class="featurette-heading text-end">
                                    Fluid Power Club<br>
                                    <span class="text-muted">August 2023 - May 2024</span>
                                </h2>
                                <p class="lead">
                                    I joined the Fluid Power Club (FPC) for my Robotics Capstone Project in my fourth year
                                    at Purdue. FPC designs and manufactures a fluid powered bike every year to compete in the 
                                    National Fluid Power Association Fluid Power Vehicle Challenge. I worked with a group of
                                    4 students as the subteam in charge of designing, building, and programming the electronics
                                    for the bike which would monitor the hydraulic and pneumatic systems and display the data
                                    on an HMI.
                                </p>
                            </div>
                            <div class="col-xl-6 order-xl-1">
                                <img class="d-block club-photo img-fluid mx-auto rounded-3" src="../assets/fpc.jpg" alt="Fluid Power Clud">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item mb-5">
                        <div class="row d-flex">
                            <div class="col-xl-6">
                                <h2 class="featurette-heading">
                                    Boiler Robotics Club<br>
                                    <span class="text-muted">August 2021 - December 2023</span>
                                </h2>
                                <p class="lead">
                                    I joined the Boiler Robotics Club (BRC) because of my interest in learning more 
                                    about how robotic arms are made, programmed, and used in a real world scenario.
                                    BRC is largely ran by students to design and construct a Mars rover for the 
                                    University Rover Challenge (URC). I worked in a team of 5-6 students to build and 
                                    program the robotic arm of the rover we were making, which would be used for retrieval
                                    and servicing in URC. I used Python, Robotic Operating System (ROS), and solidworks 
                                    while working in this club.
                                </p>
                            </div>
                            <div class="col-xl-6">
                                <img class="d-block club-photo img-fluid mx-auto rounded-3" src="../assets/brc.jpg" alt="Boiler Robotics Club">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#clubs" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#clubs" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>