<%- include('header.ejs') %>
<body class="d-flex flex-column vh-100">
    <%- include('navigation.ejs') %>
    <section class="about-section container-fluid mx-auto d-block justify-content-center align-items-center">
        <p class="h7 text-center">Get To Know More</p>
        <h1 class="display-1 text-center">About Me</h1>
        <div class="content-container container-fluid mx-auto justify-content-center align-items-center">
            <div class="about-pic-container mx-auto me-2 d-flex align-items-center">
                <img class="about-pic img-fluid mx-auto d-block" src="./assets/about-me-pic.jpg" alt="Profile Picture">
            </div>
            <div class="about-me-container mx-auto ms-2">
                <div class="about-containers justify-content-center">
                    <div class="details-container container m-5 p-2 justify-content-center">
                        <img class="icon mx-auto d-block" src="./assets/experience_light.png" alt="Experience Icon">
                        <h3 class="text-center">Experience</h3>
                        <p class="text-center">Backend Intern - Rush Market</p>
                        <p class="text-center">CS Instructor - Coding Mind Academy</p>
                    </div>
                    <div class="details-container container m-5 p-2 justify-content-center">
                        <img class="icon mx-auto d-block" src="./assets/education_light.png" alt="Education Icon">
                        <h3 class="text-center">Education</h3>
                        <p class="text-center">B.S. in CS and Robotics<br>Purdue University</p>
                    </div>
                </div>
                <div class="about-me-text ps-5 pe-5">
                    <p class="text-center">
                        Expected to graduate with a B.S. in Computer Science and a B.S. in Robotics
                        Engineering Technology from Purdue University in December, 2024.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer.ejs') %>
    <%- include('scripts.ejs') %>
</body>
</html>