<%- include('header.ejs') %>
<body class="d-flex flex-column vh-100">
    <%- include('navigation.ejs') %>
    <section class="experience-section container-fluid mx-auto d-block justify-content-center align-items-center">
        <p class="h7 text-center">Explore My</p>
        <h1 class="display-1 text-center">Experience</h1>
        <div class="experience-details-container d-flex justify-content-center mt-5">
            <div class="experience-container mx-auto d-flex">
                <div class="details-container border border-dark">
                    <h2 class="text-center">Robotics</h2>
                    <div class="articles-container mx-auto">
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>Arduino</h4>
                                <p>Intermediate</p>
                            </div>
                        </article>
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>Raspberry Pi</h4>
                                <p>Intermediate</p>
                            </div>
                        </article>
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>CAD Modeling</h4>
                                <p>Experienced</p>
                            </div>
                        </article>
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>3D Printing</h4>
                                <p>Intermediate</p>
                            </div>
                        </article>
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>Linux</h4>
                                <p>Intermediate</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="details-container border border-dark">
                    <h2 class="text-center">Web Development</h2>
                    <div class="articles-container mx-auto">
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>React</h4>
                                <p>Basic</p>
                            </div>
                        </article>
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>Express</h4>
                                <p>Basic</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="details-container border border-dark">
                    <h2 class="text-center">Game Development</h2>
                    <div class="articles-container mx-auto">
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>Unity Engine</h4>
                                <p>Intermediate</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="details-container border border-dark">
                    <h2 class="text-center">Programming Languages</h2>
                    <div class="articles-container mx-auto">
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>Python</h4>
                                <p>Experienced</p>
                            </div>
                        </article>
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>C</h4>
                                <p>Experienced</p>
                            </div>
                        </article>
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>C#</h4>
                                <p>Experienced</p>
                            </div>
                        </article>
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>C++</h4>
                                <p>Experienced</p>
                            </div>
                        </article>
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>Java</h4>
                                <p>Experienced</p>
                            </div>
                        </article>
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>JavaScript</h4>
                                <p>Intermediate</p>
                            </div>
                        </article>
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>HTML</h4>
                                <p>Experienced</p>
                            </div>
                        </article>
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>CSS</h4>
                                <p>Basic</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="details-container border border-dark">
                    <h2 class="text-center">Other Skills</h2>
                    <div class="articles-container mx-auto">
                        <article>
                            <img src="./assets/checkmark_light.png" alt="Experience Icon" class="icon">
                            <div>
                                <h4>Git</h4>
                                <p>Intermediate</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer.ejs') %>
    <%- include('scripts.ejs') %>
</body>
</html>