<nav class="navbar navbar-expand-md navbar-light fixed-top p-5 pb-0">
    <div class="container-fluid d-flex">
        <a class="navbar-brand" href="/">
            <p class="h2">Tobi DeRuiter</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <p class="h4">Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <p class="h4">About</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/experience">
                        <p class="h4">Experience</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">
                        <p class="h4">Projects</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">
                        <p class="h4">Contact</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>