<nav id="desktop-nav">
    <div class="logo">Tobi DeRuiter</div>
    <div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/experience">Experience</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <!-- <div class="theme-container">
        <img src="./assets/theme_dark.png" alt="Dark Theme" onclick="toggleTheme()" class="icon theme-logo">
    </div> -->
</nav>
<nav id="hamburger-nav">
    <div class="logo">Tobi DeRuiter</div>
    <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu-links">
            <li><a href="/" onclick="toggleMenu()">Home</a></li>
            <li><a href="about" onclick="toggleMenu()">About</a></li>
            <li><a href="experience" onclick="toggleMenu()">Experience</a></li>
            <li><a href="projects" onclick="toggleMenu()">Projects</a></li>
            <li><a href="contact" onclick="toggleMenu()">Contact</a></li>
        </div>
    </div>
    <!-- <div class="theme-container">
        <img src="./assets/theme_dark.png" alt="Dark Theme" onclick="toggleTheme()" class="icon theme-logo">
    </div> -->
</nav>