<%- include('header.ejs') %>
<body class="d-flex flex-column vh-100 bg-light">
    <%- include('navigation.ejs') %>
    <section class="projects-section container-fluid mx-auto d-block justify-content-center align-items-center">
        <p class="h7 text-center">Browse My Recent</p>
        <h1 class="display-1 text-center">Projects</h1>
        <div class="details-container d-flex justify-content-center">
            <div class="projects-container border rounded-3 p-3">
                <img class="project-img rounded-3 mx-auto d-block img-fluid pb-3" src="./assets/robotuner.png" alt="RoboTuner Image">
                <h2 class="text-center">RoboTuner</h2>
                <div class="d-flex justify-content-center">
                    <button class="me-2 btn btn-outline-secondary rounded-pill" onclick="location.href='https://github.com/Ryan-Ellison/RoboTuner'">
                        Github
                    </button>
                    <button class="ms-2 btn btn-info rounded-pill" onclick="location.href='https://youtu.be/jWH7ovv99QY'">
                        Live Demo
                    </button>
                </div>
            </div>
            <div class="projects-container border rounded-3 p-3">
                <img class="project-img rounded-3 mx-auto d-block img-fluid pb-3" src="./assets/realm-of-rivals.png" alt="Realm Of Rivals Image">
                <h2 class="text-center">Realm Of Rivals</h2>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-secondary rounded-pill ror-btn" onclick="location.href='https://tobi-deruiter.itch.io/realm-of-rivals'">
                        Play The Game Yourself!
                    </button>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer.ejs') %>
    <%- include('scripts.ejs') %>
</body>
</html>