:root {
    --icon-width: 30px;
}

.about-section {
    margin-top: max(15vh, 150px);
    height: fit-content;
    padding: 0%;
}

.content-container {
    display: flex;
    max-width: 80vw !important;
}

.about-containers {
    display: flex;
}

.about-pic-container {
    position: relative;
    margin-top: -20%;
    margin-bottom: -15%;
    z-index: -1000;
}

.about-pic {
    width: 100%;
    mask-image: linear-gradient(black 55%, transparent 75%);
}

.title-container {
    --pad: 5rem;
    position: absolute;
    top: calc(45% - var(--pad));
    left: calc(55% - var(--pad));
    padding: var(--pad);
    mask-image: radial-gradient(black 57%, transparent 65%);
}

.details-container {
    border-radius: 3rem;
    max-width: inherit;
    min-width: 15rem;
    width: 45%;
}

.icon-exp {
    width: var(--icon-width);
    height: var(--icon-width);
    mask-size: var(--icon-width) var(--icon-width);
}

table tr {
    cursor: pointer;
}

.about-me-text {
    max-width: 100%;
}

/* Mediaqueries */

@media (max-width: 1200px) {
    .about-section {
        height: fit-content;
    }

    .content-container {
        display: block;
        padding: 0% !important;
    }

    .about-containers {
        display: block;
    }

    .title-container {
        --pad: 4rem;
        top: calc(40% - var(--pad));
        left: calc(47% - var(--pad));
    }

    .details-container {
        margin: 2rem auto !important;
    }
}

@media (max-width: 992px) {
    .about-pic-container{
        margin-bottom: 0%;
    }
    
    .title-container {
        position: static;
        background-color: transparent;
        padding: 0%;
        mask-image: none;
    }
}