:root {
    --icon-width: 30px;
}

.about-section {
    margin-top: max(15vh, 150px);
    height: fit-content;
    padding: 0%;
}

/* about title section */

.content-container {
    display: flex;
    max-width: 80vw !important;
}

.about-containers {
    display: flex;
}

.about-pic-container {
    position: relative;
    margin-top: -25%;
    margin-bottom: -5%;
    z-index: -1000;
}

.about-pic {
    width: 100%;
    mask-image: linear-gradient(black 75%, transparent 75%);
}

.title-container {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.details-container {
    border-radius: 3rem;
    max-width: inherit;
    min-width: 15rem;
    width: 45%;
}

.icon-exp {
    width: var(--icon-width);
    height: var(--icon-width);
    mask-size: var(--icon-width) var(--icon-width);
}

table tr {
    cursor: pointer;
}

.about-me-text {
    max-width: 100%;
}

/* what i love section */

#whatILoveCarousel {
    width: 80vw !important;
}

.carousel-item {
    min-height: 55vh;
}

.carousel-item img {
    max-height: 50vh;
}

.game-logos {
    max-height: 25vh !important;
}

/* .carousel-item.bg-dark {
    background-color: rgb(48, 48, 48) !important;
} */

.carousel-control-prev,
.carousel-control-next {
    background-color: darkviolet !important;
    mask-image: radial-gradient(black 10%, transparent 10%);
    height: 50% !important;
    margin-top: auto !important;
    margin-bottom: 0 !important;
}

.carousel-indicators button {
    height: 1rem !important;
    cursor: pointer;
}

.carousel-indicators button:hover {
    background-color: darkviolet !important;
}

/* Mediaqueries */

@media (max-width: 1200px) {
    .about-section {
        height: fit-content;
    }

    .content-container {
        display: block;
        padding: 0% !important;
    }

    .about-containers {
        display: block;
    }

    .title-container {
        --pad: 4rem;
        top: calc(40% - var(--pad));
        left: calc(47% - var(--pad));
    }

    .details-container {
        margin: 2rem auto !important;
    }

    .game-logo-containers {
        width: 45% !important;
    }
}

@media (max-width: 992px) {
    .about-pic-container{
        margin-bottom: 0%;
    }
    
    .title-container {
        position: static;
        transform: translate(0, 0);
    }
}