.experience-section {
    margin-top: max(15vh, 150px);
    margin-bottom: 3rem;
    height: fit-content;
}

.experience-detials-container {
    flex-direction: column;
}

.experience-container {
    margin: auto;
    max-width: 70vw;
    gap: 2rem;
    margin: 2rem;
    flex-wrap: wrap;
}

.details-container {
    border-radius: 2rem;
    padding: 1rem;
    flex: 1;
}

.articles-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
    max-height: 50vh;
    overflow-y: auto;
}

article {
    display: flex;
    min-width: fit-content;
    width: 150px;
    margin-left: 1rem;
    margin-right: auto;
    gap: 0.5rem;
}