.experience-section {
    margin-top: max(15vh, 150px);
    margin-bottom: 3rem;
    height: fit-content;
}

.experience-details-container {
    flex-direction: column;
    border-bottom: 2px solid darkviolet;
}

.experience-container {
    max-width: 75vw;
    gap: 2rem;
    margin: 2rem;
    flex-wrap: wrap;
}

.id-div {
    margin-top: -5rem;
    margin-bottom: 8rem;
}

/* university section */

.featurette {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid cyan;
}

.purdue-logo {
    width: 325px;
}

.unsw-logo {
    height: 200px;
}

.transcript-btn {
    height: 75px;
    width: 200px;
}

.club-photo {
    max-height: 450px;
}

.carousel-indicators button {
    height: 1rem !important;
}

.carousel-indicators button:hover {
    background-color: darkviolet !important;
}

.carousel-item {
    min-height: 450px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: darkviolet !important;
    mask-image: radial-gradient(black 10%, transparent 10%);
    height: 50% !important;
    margin-top: auto !important;
    margin-bottom: 0 !important;
}

/* previous work section */

.cm-logo {
    width: 400px;
    cursor: pointer;
}

.rush-logo {
    width: 400px;
    border-color: transparent !important;
    cursor: pointer;
}

.uno-logo {
    width: 275px;
}

.left-skills {
    height: fit-content;
}

.modal-dialog {
    max-width: 350px;
}

.modal-body article h5 {
    align-content: center;
    margin: 0;
}

/* skills section */

.details-container {
    border-radius: 2rem;
    padding: 1rem;
    flex: 1;
    max-width: 350px;
}

.details-container h2 {
    margin-bottom: 1rem;
    min-height: fit-content;
    border-bottom: 1px solid darkviolet;
}

.articles-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
    max-height: 50vh;
    overflow-y: auto;
    min-width: 200px;
}

article {
    display: flex;
    min-width: fit-content;
    width: 150px;
    margin-left: 1rem;
    margin-right: auto;
    gap: 0.5rem;
}

article h5 {
    max-width: 200px;
}