@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --btn-height: 50px;
    --theme-icon-width: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-color: black;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 0.5rem;
    transition: 300ms;
}

::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

.btn {
    height: var(--btn-height);
}

.btn:hover {
    background-color: darkviolet;
    border-color: darkviolet;
}

.btn-info {
    background-color:darkgreen;
    border-color: darkgreen;
}

.theme-icon {
    width: var(--theme-icon-width);
    cursor: pointer;
    border: 3px solid transparent;
}

.theme-icon:hover {
    border: 3px solid darkviolet;
    border-radius: calc(var(--theme-icon-width) / 2);
}

/* Navbar */

.nav-link {
    border-bottom: 1px solid transparent;
}

.nav-link:hover {
    color: darkviolet;
    border-bottom: 1px solid darkviolet;
}

/* Footer */

footer {
    height: 5vh;
}

/* Mediaqueries */

@media (max-width: 1199.98px) {
    footer {
        padding: 0px;
    }
}