@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Tiny5&display=swap');

:root {
    --btn-height: 50px;
    --theme-icon-width: 3rem;
    --icon-size: 2.5rem;
    --g-color-1: rgb(226, 32, 233);
    --g-color-2: rgb(33, 228, 202);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-color: black;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 0.5rem;
    transition: 300ms;
}

::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

.btn {
    height: var(--btn-height);
    border-width: 2px;
    border-color: var(--g-color-2);
}

.btn:hover {
    background-color: darkviolet;
    border-color: darkviolet;
}

.btn-info {
    background-color:var(--g-color-2);
    border-color: var(--g-color-2);
}

.theme-icon {
    width: var(--theme-icon-width);
}

.theme-icon:hover {
    border-radius: calc(var(--theme-icon-width) / 2);
}

.display-1 {
    font-family: 'Moon Dance', cursive, serif;
    font-size: 90pt;
    padding-bottom: 1rem;
    background: linear-gradient(var(--g-color-1), var(--g-color-2));
    background-clip: text;
    color: transparent;
}

.border {
    border-color: var(--g-color-1) !important;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    background-image: radial-gradient(var(--g-color-1), var(--g-color-2));
    mask-position: center;
    mask-size: var(--icon-size) var(--icon-size);
    cursor: pointer;
    border: 3px solid transparent;
}

.icon:hover {
    border: 3px solid darkviolet;
    border-radius: calc(var(--icon-size) / 2);
}

.icon-no-effects {
    cursor: default !important;
    border: none !important;
}

.icon-no-effects:hover {
    border: none !important;
    border-radius: 0 !important;
}

.h7 {
    color: grey;
}

.gradient {
    background: linear-gradient(to bottom right, var(--g-color-1), var(--g-color-2));
    background-clip: text;
    color: transparent;
    font-family: 'Bungee', 'Poppins', serif;
}

/* Navbar */

.nav-link {
    border-bottom: 1px solid transparent;
}

.nav-link:hover {
    color: darkviolet;
    border-bottom: 1px solid darkviolet;
}

.mobile-toggle-theme {
    display: none;
}

.desktop-toggle-theme {
    display: flex;
}

.navbar {
    mask-image: linear-gradient(black 65%, transparent);
}

.navbar-brand {
    font-family: 'Tiny5', 'Poppins', serif !important;
}

/* Footer */

footer {
    height: 5vh;
}

/* Mediaqueries */

@media (max-width: 1199.98px) {
    .navbar {
        mask-image: linear-gradient(black 75%, transparent);
    }

    .display-1 {
        font-size: 70pt;
    }

    .lead {
        font-size: medium;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    footer {
        padding: 0px;
    }
}

@media (max-width: 991.98px) {
    .mobile-toggle-theme {
        display: flex;
    }

    .desktop-toggle-theme {
        display: none;
    }

    .navbar-nav {
        margin-bottom: 6rem;
    }
}