<div class="mt-5"></div>
<p class="h7 text-center">This is</p>
<h1 class="display-1 text-center">What I Love</h1>
<div id="whatILoveCarousel" class="carousel slide pointer-event mx-auto" data-bs-ride="carousel" data-bs-interval="30000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#whatILoveCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="rounded-pill active" aria-current="true"></button>
        <button type="button" data-bs-target="#whatILoveCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="rounded-pill "></button>
        <button type="button" data-bs-target="#whatILoveCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="rounded-pill "></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item p-4 mb-5 active">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-md-8 order-md-2">
                        <h2 class="featurette-heading text-start">
                            Muay Thai<br>
                            <span class="text-muted">Kickboxing</span>
                        </h2>
                        <p class="lead text-start">
                            I first started Muay Thai at a local gym in Omaha, NE when I was 13. It's always 
                            been a great way to relieve stress and keep in great shape! I achieved brown belt 
                            by the end of high school until COVID started and I couldn't 
                            keep up with it any longer. The Muay Thai community may be rough at times, but 
                            everyone cares for each other, treats others with respect, and works as a team.
                            Although I haven't been able to do Muay Thai while in college, I hope to 
                            continue with it as soon as I can!
                        </p>
                    </div>
                    <div class="col-md-4 order-md-1">
                        <img class="mx-auto d-block rounded-3 img-fluid" src="../assets/muay_thai.gif" alt="Muay Thai GIF">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item p-4 mb-5">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-md-4 order-md-2">
                        <h2 class="featurette-heading text-center">
                            Video Games<br>
                            <span class="text-muted">Single & Multi-Player</span>
                        </h2>
                        <p class="lead text-start">
                            I always like to sit down and play online games as a way to relax at 
                            the end of the day. I play both single-player games, like Elden Ring, Baldur's 
                            Gate 3, or Hyper Light Drifter, and multi-player games with friends, like Rocket 
                            League, Fortnite, or Borderlands.
                        </p>
                    </div>
                    <div class="game-logo-containers col-md-4 order-md-1">
                        <img class="game-logos mx-auto d-block rounded-3 img-fluid" src="../assets/steam.png" alt="Steam Logo">
                    </div>
                    <div class="game-logo-containers col-md-4 order-md-3">
                        <img class="game-logos mx-auto d-block rounded-3 img-fluid" src="../assets/epic.webp" alt="Epic Games Logo">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item p-4 mb-5">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-md-8">
                        <h2 class="featurette-heading text-end">
                            Climbing<br>
                            <span class="text-muted">Indoor & Outdoor</span>
                        </h2>
                        <p class="lead text-start">
                            My freind introduced me to climbing a few years ago, and I've been in love with it 
                            ever since. Although I usually prefer bouldering and top rope climbing, I have 
                            been on a few multi-pitch climbs before, like in the image where you can see me 
                            sitting, scared, on the top of a wall. Everyone in the climbing community is helpful 
                            and kind, which definitely aided in me enjoying it so much.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="mx-auto d-block rounded-3 img-fluid" src="../assets/climbing.jpg" alt="Muay Thai GIF">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#whatILoveCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#whatILoveCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>